*{
    margin: 0px;
    font-family: "inter";
}
#logo{
    margin-left: 50px;
    margin-top: 50px;
}
#titulo-menu-superior{
    margin-left: 150px;
    margin-top: 60px;

}
#texto-menu-superior{
    margin-left: 150px;
    margin-top: 30px;
    padding-bottom: 100px;
}
#menu-superior{
    background-image: url(Imagens/FundoMenuSuperior.svg);
    color: white;
}
#menu-informacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.icone{
    margin: 50px 0px 50px 100px;
    padding: 25px;    
}
.texto-menu-informacional{
    display: flex;
    align-items: center;
}
#secao-video{
    display: flex;
    grid-auto-flow: column;
    columns: auto;
}
#titulo-secao-video{
    color: #247BA0;
    margin-top: 50px;
}
#videoyoutube{
    margin: 50px 75px 50px 100px;
}
#carrossel{
    background-color: #247BA0;
    padding: 50px;
}
#titulo-carrossel{
    color: #EAECE5;
    text-align: center;
    margin-bottom: 50px;
    font-size: 25px;
}
#div-cards{
    display: grid;
    grid-auto-flow: column;
}
.cards{
   margin-left: 50px;
}
#seta-esquerda{
    display: none;
}
#bruna{
    display: none;
}
.seta{
    margin-top: 55%;
    cursor: pointer;
}
#seta-esquerda{
    margin-top: 55%;
}
.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}
#formulario{
    text-align: center;
    padding: 30px;
}
#titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}
input{
    background-color: #EAECE5;
    width: 300px;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    padding-left: 10px;
    margin: 15px;
}
button{
    background-color: #247BA0;
    color: #EAECE5;
    font-weight: bolder;
    border: 0px;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    margin: 15px;
    margin-bottom: 50px;
    cursor: pointer;
}
button:hover{
    background-color: #30a2d3;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #0f3342a2;
    transition-duration: 0.5s;
}